<div class="card">

    <form [formGroup]="storeForm">
        <div class="card">
          <div style="display: flex;flex-direction: row;">
            <p-button icon="pi pi-angle-double-left" styleClass="p-button-lg p-button-text mb-0 p-2" [routerLink]="''" label=""></p-button>

            <h2>Store Details</h2>
          </div>
          

            <div class="flex gap-5 flex-column-reverse md:flex-row">
                <div class="flex-auto p-fluid">
                    <div class="formgrid grid">
                        <div class="field col-12 lg:col-6 md:col-12">
                            <label for="firstname2" htmlFor="username">Store Id<span class="text-red-600"> *</span></label
              >
              <div class="p-inputgroup">
                <input
                  pInputText
                  placeholder="Enter store id"
                  formControlName="id"
                />
           
            </div>
               <br>
            <div class="field col-12 lg:col-6 md:col-12">
              <label for="firstname2"
                >Store Name<span class="text-red-600"> *</span></label
              >
              <div class="p-inputgroup">
                <input
                  pInputText
                  placeholder="Enter store name"
                  formControlName="name"
                />
              </div>
              
            </div>

            <br>

            <div class="field col-12 lg:col-6 md:col-12">
              <label for="firstname2"
                >Description<span class="text-red-600"> *</span></label
              >
              <div class="p-inputgroup">
               
                <input
                  type="text"
                 
                  pInputText
                  placeholder="Enter description"
                  formControlName="description"
                />
              </div>
             
            
            </div>
            <br>

          </div>
        </div>
      </div>
     
    </div>
    </div>
  </form>
 
  <br />
   
        <p-button (click)="submit()">submit</p-button>
        <p-messages 
        [(value)]="messages" 
        [enableService]="false" 
        [closable]="false" />

</div>
